
.item-container
{
   min-width: fit-content;
   display: table;
   clear: both;
}

.item-actions-container
{
   float: left;
   width: 20%;
   padding: 5px;
   vertical-align: middle;
}

.item-action
{
   padding: 2px 2px 2px 2px;
   width: 30px;
   align-self: center;
}