.container-user-image{
   width:70px;
   height: 70px;
   vertical-align: middle;
   align-content: space-around;
}
.user-image{
   width: 60px;
   height: 60px;
   border-radius: 30px;
   align-items: center;
}

.user-list{
   flex: 2;
}
