.table {
   width: 100%;
   padding: 2px;
}

.container {
   padding: 2px;
}

.item-actions-container {
   float: left;
   width: 60px;
   padding: 2px;
   
}

.item-action {
   padding: 1px 1px 1px 1px;
   width: 30px;
   clear: both;
}