*{
   margin: 0;
   padding: 0;
   font-family: 'Open Sans', sans-serif;
}

ul{
   list-style: none;
   margin: 0;
   padding: 0;
}

ul li a{
   text-decoration: none;
}

div img{
   display: block;
   width: 100%;
}

.flex-container{
   display: flex;
   max-width: 992px;
   margin: auto;
   width: 100%;
   min-width: 320px;
}

header{
   background-color: #122A57;
   color:#fff;
   height: 100px;
   display: flex;
   align-items: center;
}

header .menu{
   justify-content: space-between;
}

header .list-items{
   display: flex;
   max-width: 260px;
   width: 100%;
   justify-content: space-between;
   align-items: center;
}

.list-items li a{
   color: #fff;
}

.presentation{
   height: 100vh;
   align-items: center;
   justify-content: space-between;
}

.presentation .text{
   min-height: 200px;
}

.presentation .text h1{
   color:#122A57;
   font-size:48px;
   margin-bottom: 10px;
}

.btn{
   display: block;
   width: 220px;
   height: 50px;
   background-color: #122A57;
   color: #fff;
   text-align: center;
   border-radius: 20px;
   text-decoration: none;
   line-height: 50px;
   margin-top: 10px;
   margin-bottom: 10px;
}

#who-we-are{
   flex-direction: row-reverse;
 
   align-items: center;
   justify-content: space-between;
}

#who-we-are img{
   min-width: 320px;
   margin: auto;
}

#who-we-are h2{
   display: flex;
   font-size: 32px;
   color: #122A57;
   margin-bottom: 20px;
}

#who-we-are h2::before{
   content: "";
   height: 40px;
   width: 5px;
   background-color: #122A57;
   position: relative;
   margin-right: 5px;
}

#who-we-are p{
   margin-bottom: 10px;
   width: 90%;
}

#who-we-are img{
   min-width: 420px;
}

.extern-container{
   background-color: #122A57;
   width: 100%;
}

#services{
   flex-direction: column;
   padding-top: 50px;
   padding-bottom: 100px;
}

#services h2{
   color:#fff;
   font-size: 32px;
   margin-bottom: 20px;
}

.list-services{
   display: flex;
   justify-content: space-between;
}

.list-services .item-services{
text-align: center;
}

.item-services a{
   width: 120px;
   background-color: #fff;
   border-radius: 30px;
   height:  50px;
   text-align: center;
   line-height: 50px;
   padding: 5px 10px;
   color:#122A57;
   font-size: 12px;
   text-decoration: none;
   font-weight: 700;

}

.item-services p{
   font-weight: 700;
   font-size: 18px;
   color:#fff;
   margin-top: 20px;
}

.item-services img{
   width: 80%;
   margin: auto;
}

#plans{
   flex-direction: column;
   min-height: 100vh;
   padding-top: 50px;
}

#plans h2{
   font-size: 32px;
}

.list-plans{
   display: flex;
   align-items: flex-end;
   justify-content: space-between;
   
}

.item-plan{
   flex: 1;
   border: 5px solid #122A57;
   margin-right: 20px;
   padding: 10px;
   max-width: 240px;
   
}

.item-plan .btn{
   margin: auto;
   margin-bottom: 20px;
}

.item-plan h3{
   font-size: 24px;
   display: flex;
   flex-direction: column;
   text-align: center;
   margin-top: 20px;
}

.item-plan h3::after{
   content: "";
   background-color: #122A57;
   width: 100%;
   height: 3px;
   margin-top: 20px;
   margin-bottom: 10px;
}

.item-plan ul{
   padding:  10px 20px;
   display: flex;
   flex-direction: column;
   margin-bottom: 10px;
}

.item-plan li{
   display: flex;
   flex-wrap: nowrap;
   align-items: center;
}

.item-plan ul li::before{
   content: "";
   width: 10px;
   height: 10px;
   background-color: #122A57;
   margin-right: 5px;
}

footer{
   background-color: #122A57;
   height: 70px;
   display: flex;
   align-items: center;
}

footer .footer{
   justify-content: space-between;
   color:#fff
}

/* mobile */
@media(max-width: 992px){
   .flex-container{
      flex-direction: column;
   }

   .presentation{
      flex-direction: column-reverse;
   }

   .presentation .text{
      width: 100%;
   }

   #who-are-we{
      flex-direction: column-reverse;
   }

   .list-services{
      flex-direction: column;
   }

   .item-services img{
      width: 50%;
      margin: auto;
   }

   .list-plans{
      flex-direction: column;
      align-items: flex-start;
   }

   .list-plans .item-plan{
      max-width: 90%;
      margin: auto;
      width: 100%;
      margin-bottom: 20px;
   }
}
